* {
    margin: 0;
    padding: 0;
}

body {

    background: rgb(16, 118, 234);
}

.game {
    width: 479px;
    text-align: center;
    font-family: system-ui;
    color: #fff;
    margin: auto;
    font-weight: 500;
    padding: 35px;
    text-transform: uppercase;
    cursor: pointer;
}

.title {
    margin: 5px;
    padding: 5px 0px;
    background: rgba(171, 206, 246, 0.614);
    text-transform: uppercase;
    border-radius: 15px
}


span {
    color: #fff;
}

.square {
    width: 150px;
    height: 150px;
    background: rgba(171, 206, 246, 0.614);
    float: left;
    margin: 4px;
    font-size: 70px;
    text-align: center;
    line-height: 150px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.082), 0 6px 20px 0 rgba(0, 0, 0, 0.016);



}

.square:hover {
    background: rgb(8, 64, 129);

}